node_modules
platforms
plugins
.idea
ionic/engine
ionic/resources
ionic/www/lib
ionic/hooks
chrome_ext
logs
ionic/www/app/components/translate/typings
ionic/.editorconfig
server/setup/difficulty.ods
sql/anonymousTranslations.backup
sql/anonymousTranslations2.backup
tests/report/