{
  "env": {
    //remove either of the lines below if you don't need it
    //enable nodejs environment
    "node": 1,
    //enable browser environment
    "browser": 1
  },
  "globals": {
    //place settings for globals here, such as
    "angular": true,
    "StatusBar": true,
    "$": true,
    "msUtils": true,
    "cordova": true
  },
  "rules": {
    //enable ESLint rules, such as
    "eqeqeq": 1,
    "no-multi-spaces": 0,
    "quotes": 0,
    "comma-spacing": 0
  }
}